{
	"arrowParens": "always",
	"bracketSpacing": true,
	"experimentalTernaries": true,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"semi": true,
	"doubleQuote": true,
	"trailingComma": "all",
	"useTabs": true
}
