---
import Layout from "@/layouts/Layout.astro";
---
<Layout
	title="lipu pi jan Pije"
>

<a href="/">&larr; Back to tokipona.net</a>

<h1>jan Pije's website and lessons have been retired</h1>
<p>
For many years, <a href="https://sona.pona.la/wiki/jan_Pije">jan Pije</a>'s Toki Pona website and lesson series was hosted here on tokipona.net. In 2020, he <a href="https://web.archive.org/web/20210810175844/http://tokipona.net/tp/janpije/okamasona.php">decided to retire it</a> after 17 years online, since other sites had surpassed it in quality.
</p>

<p>
<ul>
	<li>If you're looking for a recent course, check out <a href="https://wasona.com">Wasona</a>, or a longer list of <a href="https://sona.pona.la/wiki/Recommended_learning_resources">recommended learning resources</a> at sona.pona.la.</li>
	<li>For those with historical interest in jan Pije's website, it can be found on the <a href="https://web.archive.org/web/20210810175844/http://tokipona.net/tp/janpije/okamasona.php">Internet Archive</a>.
</ul>
</p>

</Layout>
