:root {
	--font: "Andika", sans-serif;

	--yellow-soft: #fff9f9;
	--yellow-strong: #ffd13b;
	--orange: #ffa454;
	--red: #f26a6a;
	--blue-strong: #4349ff;
	--blue-soft: #bfc1ff;
	--txt: #240000;
}

body {
	margin: 1rem;
	font-family: var(--font);
	background-color: var(--blue-soft);
	color: var(--txt);
	line-height: 1.4;
	font-size: 18px;
}

* {
	transition:
		color 0.2s,
		background-color 0.2s,
		border 0.2s,
		fill 0.2s,
		box-shadow 0.2s;
}

blockquote {
	text-align: left;
	margin: 0px;
	padding-inline: 15px 15px;
	border-inline-start: 5px solid var(--yellow-strong);
}

main {
	max-width: 800px;
	margin: auto;
	background-color: var(--yellow-soft);
	border: 5px solid var(--yellow-strong);
	border-radius: 5px;
	text-align: center;
	padding: 10px;
}

h1 {
	font-weight: initial;
	font-size: 36px;
}
h2 {
	font-weight: initial;
	font-size: 36px;
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 5px solid var(--yellow-strong);
}

svg {
	max-width: 100%;
	height: auto;
}

.cols {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 10px;
}

.cols * {
	align-self: center;
}

details {
	max-width: 600px;
	margin: auto;
	margin-top: 10px;
	background-color: var(--yellow-strong);
	border: 5px solid var(--orange);
	border-radius: 5px;
}
summary {
	background-color: var(--yellow-strong);
}
