:root {
	--font: var(--font-andika);
	--rounding-large: 1rem;
	--rounding-small: 0.5rem;
	--max-content-width: 1440px;

	--background: oklch(99% 0.005 15);
	--border: oklch(87% 0.165 90);
	--scene-background: oklch(83% 0.088 280);
	--scene-foreground: oklch(99% 0.015 150);
	--card-background: oklch(95% 0.090 60);
	--card-border: oklch(85% 0.145 60);
	--highlight: oklch(50% 0.170 25);
	--link: oklch(65% 0.260 270);
	--foreground: oklch(16% 0.067 30);
	--foreground-muted: oklch(45% 0.045 20);
}
.dark {
    --scene-background: oklch(26% 0.060 280);
	--scene-foreground: oklch(97% 0.02 60);
    --background: oklch(19% 0.025 270);
    --border: oklch(41% 0.110 270);
    --card-background: oklch(30% 0.067 270);
    --card-border: oklch(54% 0.160 270);
    --highlight: oklch(69% 0.170 20);
    --link: oklch(77% 0.200 270);
    --foreground: oklch(97% 0.02 60);
    --foreground-muted: oklch(80% 0.02 60);
}

html {
	scroll-padding: 2rem;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-family: var(--font);
	background-color: var(--scene-background);
	color: var(--foreground);
	line-height: 1.4;
	background-image: url("/sitelen/background.svg");

	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	background-size: 100%;
}
.dark body {
	background-image: url("/sitelen/background-dark.svg");
}

.no-transition,
.no-transition * {
	transition: none !important;
}

* {
	box-sizing: border-box;
}

.skip-link {
    position: absolute;
    left: -9999px;
}
.skip-link:focus {
    left: 1rem;
    top: 1rem;
    background: var(--background);
	color: var(--foreground);
	padding: 0.5rem 1rem;
	z-index: 1000;
}

main {
	flex: 1;
	width: min(var(--max-content-width), 80%);
	margin: 0 auto;
	display: grid;
	grid-template: "left left right" / 1fr 1fr 1fr;
	column-gap: 0.5rem;
	& > * {
		align-self: start;
	}
	& > :only-child {
		grid-column: 1 / -1;
	}
}

section {
	margin-bottom: 0.5rem;
	border: 3px solid var(--border);
	border-radius: var(--rounding-large);
	padding: 0.5rem;
	background-color: var(--background);
}

footer {
	color: var(--scene-foreground);
	text-align: center;
	margin: 25vw auto 2rem auto;
	/* Ensure background image is nicely viewable
	at all browser widths and zoom levels */
	& a {
		color: var(--scene-foreground);
	}
}

h1 {
	line-height: 1.2;
	font-weight: bold;
	font-size: 2rem;
	text-wrap: balance;
	text-align: center;
}
h2 {
	line-height: 1.2;
	position: relative;
	font-weight: bold;
	font-size: 1.5rem;
	width: 100%;
	padding-bottom: 1rem;
	text-align: center;
	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0;
		translate: -50% 0;
		width: 100%;
		border-bottom: 6px solid var(--border);
		margin-left: auto;
		margin-right: auto;
		border-radius: var(--rounding-small);
	}
}

a {
	color: var(--link);
}
svg {
	max-width: 100%;
	height: auto;
	margin: auto;
}

details {
	@supports (interpolate-size: allow-keywords) {
		--border-delay: 300ms;
	}

	interpolate-size: allow-keywords;
	margin-top: 1rem;
	background-color: var(--card-background);
	border: 3px solid var(--card-border);
	border-radius: var(--rounding-small);

	&::details-content {
		height: 0;
		overflow: hidden;
		box-shadow: inset 0 3px 0 0 transparent;
		transition:
			opacity 300ms,
			height 300ms,
			box-shadow 0ms var(--border-delay, 0ms),
			padding-top 0ms var(--border-delay, 0ms),
			content-visibility 300ms allow-discrete;
	}

	&[open]::details-content {
		--border-delay: 0ms;
		height: auto;
		padding-top: 3px;
		box-shadow: inset 0 3px 0 0 var(--card-border);
	}

	& > summary {
		padding: 0.5rem 1rem;
		text-align: center;
		cursor: pointer;
		list-style: none;

		&::marker {
			content: "";
			display: none;
		}
		&::-webkit-details-marker {
			display: none;
		}
		&::before {
			content: "";
			background-color: var(--foreground);
			width: 1.25rem;
			height: 1.25rem;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='size-5'%3E%3Cpath fill-rule='evenodd' d='M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");	background-size: contain;
			background-repeat: no-repeat;
			margin-top: -0.25rem;
			margin-right: 0.25rem;
			display: inline-block;
			vertical-align: middle;
			transition: rotate var(--border-delay, 0ms);
		}
	}
	&[open] summary {
		&::before {
			rotate: 90deg;
		}
	}
	& > p {
		padding: 0 1rem;
	}
	& > ul {
		padding: 0 1rem 0 2rem;
	}
}

@media only screen and (max-width: 1200px) {
	main {
		display: block;
	}
}
@media only screen and (max-width: 750px) {
	body {
		margin: 0;
		background-attachment: scroll;
	}
	main {
		margin: 0;
		padding: 1rem;
		width: 100%;
		background-color: var(--background);
		border-bottom: 6px solid var(--border);
	}
	section {
		padding: 0;
		background-color: unset;
		border: none;
		border-radius: none;
		font-size: 0.875rem;
	}
	footer {
		/* revert to more contrastive color when in front of sky color */
		--scene-foreground: var(--foreground);
		font-size: 0.875rem;
		margin-bottom: 28vw;
	}
}

img {
	max-width: 100%;
}
