---
import * as howDoesItWork from '@/content/faq/how-does-it-work.md';
import * as howLongToLearn from '@/content/faq/how-long-to-learn.md';
import * as howManySpeakers from '@/content/faq/how-many-speakers.md';
import * as howManyWords from '@/content/faq/how-many-words.md';
import * as isItReal from '@/content/faq/is-it-real.md';
import * as isItUseful from '@/content/faq/is-it-useful.md';
import * as limits from '@/content/faq/limits.md';
import * as proposingChanges from '@/content/faq/proposing-changes.md';
import * as whatDoesItMean from '@/content/faq/what-does-it-mean.md';
import * as whatIsItFor from '@/content/faq/what-is-it-for.md';
import * as whatIsTokiPona from '@/content/faq/what-is-toki-pona.md';
import * as whereIsItSpoken from '@/content/faq/where-is-it-spoken.md';
import * as whoIsInCharge from '@/content/faq/who-is-in-charge.md';

import Layout from '@/layouts/Layout.astro';

const faq = [
	whatIsTokiPona,
	isItReal,
	isItUseful,
	howDoesItWork,
	howLongToLearn,
	whereIsItSpoken,
	howManySpeakers,
	whatIsItFor,
	howManyWords,
	limits,
	proposingChanges,
	whatDoesItMean,
	whoIsInCharge,
];

// fetch all questions, omit the ones we already have
// append any that were missing to the end
const allEntries = import.meta.glob('@/content/faq/*.md', { eager: true });
const manualImports = new Set(faq.map((item) => item.file));
const autoImports = Object.values(allEntries).filter(
	(item) => !manualImports.has(item.file) && item.frontmatter?.published,
);
faq.push(...autoImports);

const headings = faq.flatMap((item) =>
	item.getHeadings().filter((heading) => heading.depth <= 2),
);
---

<style>
	.right-toc {
		position: sticky;
		top: 1rem;
		line-height: 1.7;
	}
	.small-toc {
		display: none;
		margin-bottom: 0.5rem;
	}
	@media only screen and (max-width: 1200px) {
		.right-toc {
			display: none !important;
		}
		.small-toc {
			display: block;
		}
	}
	ol li {
		& a {
			color: var(--foreground);
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&::marker {
			content: counter(list-item) '  ';
			color: var(--foreground-muted);
			width: 2ch;
			text-align: right;
			padding-right: 1ch;
			display: block;
		}
	}
	.kasi {
		display: flex;
		list-style-type: none;
		row-gap: 1em;
		flex-wrap: wrap;
		justify-content: space-evenly;
		max-width: 40em;
		margin: 0 auto;
	}
	.kasi li {
		margin: 0;
		aspect-ratio: 1 / 1;
		max-width: 10em;
		position: relative;
		display: grid;
		grid-template-rows: max-content 1fr;
		box-shadow: rgba(195, 187, 24, 0.25) 0px 30px 60px -12px inset, rgba(239, 242, 205, 0.3) 0px 18px 36px -18px inset;How does Toki Pona work with only 130 words?
	}
	.kasi a{
		text-align: center;
		background-color: rgb(22, 33, 22);
		display: grid;
		color: lightcyan;
		text-decoration: none;
		padding: 1em 0.25em;
	}
	.kasi span{
		align-self: center;
	}
	.kasi a::after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right:0;
		left: 0;
	}


</style>

<Layout
	title={'Frequently Asked Questions | Toki Pona'}
	description={'This is a test page.'}
>
	<section style='grid-area: right;' class='right-toc'>
		<!--  <h2>TaThe Basics

    What is Toki Pona?
    Isble of Contents</h2>
		<nav>
			<ol>
				{
					headings.map((item) => (
						<li>
							<a href={`#${item.slug}`}>{item.text}</a>
						</li>
					))
				}
			</ol>
		</nav>-->
	</section>
	<section style='grid-area: left;'>
		<h1>Frequently Asked Questions</h1>

		<h2>The Basics</h2>
		<ul class='kasi'>
			<li>
				<img src='/sitelen/kasi/what-is-tp.png' />
				<a href='/faq/basics'><span>What is Toki Pona?</span></a>
			</li>
			<li>
				<img src='/sitelen/kasi/is-it-real.png' />
				<a href='/faq/basics'><span>Is Toki Pona a real language?</span></a>
			</li>
			<li>
				<img src='/sitelen/kasi/how-does-it-work.png' />
				<a href='/faq/basics'><span>How does Toki Pona work with only 130 words?</span></a>
			</li>
			<li>
				<img src='/sitelen/kasi/meaning.png' />

				<a href='/faq/basics'><span>What does “Toki Pona” even mean?</span></a>
			</li>
			<li>
				<img src='/sitelen/kasi/sound-like.png' />

				<a href='/faq/basics'><span>What does Toki Pona sound like?</span></a>
			</li>
		</ul>

		<!-- 
		<h2>Using Toki Pona</h2>
		What is Toki Pona for? Is it useful to learn Toki Pona? How long does it take
		to learn Toki Pona? Where is Toki Pona from? Where is it spoken? How many
		people speak Toki Pona? Deeper Insights into Toki Pona What are Toki Pona’s
		limits? Can I propose changes to Toki Pona? Who is the authority on Toki Pona?
		*Is Toki Pona like Newspeak from 1984? *Do Toki Pona speakers memorize thousands
		of compound words? *Is AI good at Toki Pona? *What are new words in Toki Pona?
		*What is a Tokiponido?
		
		-->
		

		<!--<details open class='small-toc'>
			<summary>Table of Contents</summary>
			<ol>
				{
					headings.map((item) => (
						<li>
							<a href={`#${item.slug}`}>{item.text}</a>
						</li>
					))
				}
			</ol>
		</details>-->

		<!--  {faq.map((item) => <item.Content />)}-->
	</section>
</Layout>
