---
import HomepageLeft from "@/components/HomepageLeft.astro";
import HomepageRight from "@/components/HomepageRight.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
	title={"Toki Pona (Homepage)"}
	description={"Toki Pona: the language with only 120 words."}
>
	<section style="grid-area: left;">
		<HomepageLeft />
	</section>
	<section style="grid-area: right;">
		<HomepageRight />
	</section>
</Layout>
