---
import "@/styles/common.css";

import Video from "@/components/Video.astro";
import Cols from "@/components/Cols.astro";
import Layout2 from "@/layouts/Layout2.astro";
import Banner from "@/assets/banner.svg";
import Card from "@/components/Card.astro";
---

<Layout2
	title={"Toki Pona (Homepage)"}
	description={"Toki Pona: the language with only 120 words."}
>
	<section style='grid-area: right;'>
		<h1>Toki Pona: the language with only 120 words.</h1>

		<Banner />

		<h2>Learn via videos!</h2>

		<Cols>
			<blockquote>
				What is Toki Pona?<br /><b>A quick overview:</b>
			</blockquote>
			<Video id='U3GQePblz4M' />
		</Cols>
		<details>
			<summary>Q - What is Toki Pona?</summary>
			<p>
				A - Toki Pona is a constructed language. That means that someone decided
				what words and grammar to put in it, unlike natural languages, such as
				English or Urdu. Toki Pona has one main gimmick: it only has 120 words.
				Beyond that, Toki Pona is not very different from any other language in
				capability.
			</p>
			<p>
				The number of speakers of Toki Pona is in the thousands. Toki Pona
				speakers are proud to be part of a community that emphasizes art and
				expression of identity. Toki Pona is a living language, and it's
				evolving through daily usage.
			</p>
		</details>

		<Cols>
			<blockquote style='grid-area: 1/2'>
				<b>How can one communicate</b><br />when limited to such a small set of
				words?<br />Find out now!
			</blockquote>
			<Video id='7rVWvwWLUBg' />
		</Cols>
		<details>
			<summary>Q - How does Toki Pona work with only 120 words?</summary>
			<p>
				A - Toki Pona is highly context-dependent. This means that Toki Pona
				employs many of the same methods of communication that other languages
				do, it just doesn't allow for disambiguation via the usage of a more
				specific word. All other methods still work.
			</p>
			<p>
				Speakers must pay more attention to surrounding events, prior knowledge,
				and presupposition (which is information implied by a sentence), in
				places where speakers of other languages would use or request a more
				specific word. Speakers may also clarify using an additional sentence.
			</p>
		</details>

		<Cols>
			<blockquote>
				Start learning now!<br />This video contains<br />ALL the grammatical
				rules.
			</blockquote>
			<Video id='5phj5Ae80h8' />
		</Cols>

		<blockquote>An FAQ for Toki Pona written by community members</blockquote>
	</section>
	<section style='grid-area: left;'>
		<h2>Start learning!</h2>
		<Card url='https://wasona.com' img='https://wasona.com/favicon.png'>
			Wasona, a <b>complete course</b> available in 14 languages
		</Card>
		<Card url='https://linku.la' img='https://linku.la/favicon.png'>
			Linku, our <b>community dictionary</b> for Toki Pona words
		</Card>
		<Card
			url='https://sona.pona.la'
			img='https://static.wikitide.net/sonaponawiki/e/ec/sona_pona_%28provisional%29.png'
		>
			<abbr title="'good knowledge'">sona pona</abbr>, a <b>
				reliable encyclopedia
			</b> for Toki Pona and its history
		</Card>
	</section>
</Layout2>
