---
import Layout from "@/layouts/Layout.astro";
import Toki from '@/content/nasin-pali/tawa_kulupu.astro'
---

<Layout
	title={"nasin pali"}
	description={"."}
>


<style>
	.badge {
		display: flex;
		justify-content: center;
	}
    </style>
	<section style="grid-area: left;"  class="prose">
        <h1>nasin pali pi lipu ilo ni</h1>
        <Toki/>
	</section>
	<section style="grid-area: right;" class="prose">
        ijo
	</section>
</Layout>
