---
interface Props {
	url: string;
	img: string;
}
const { url, img } = Astro.props;
---

<style>
	.card {
		padding: 0.5rem 1rem;
		display: grid;
		grid-template-columns: 3rem 1fr;
		grid-gap: 0.75rem;
		align-items: center;
		border-radius: var(--rounding-small);
		transition: background-color 150ms;
	}
	.card:hover {
		background-color: var(--card-background);
	}
	a:hover .title {
		text-decoration: underline dotted;
	}
	img {
		width: 100%;
		border-radius: var(--rounding-large);
		display: block;
	}
	a {
		font-weight: inherit;
		text-decoration: inherit;
		color: inherit;
	}
	a:active,
	a:hover {
		color: unset !important;
	}
	.desc {
		text-align: left;
	}
</style>

<a class='card' href={url}>
	<!-- i18n: image is always accompanied by a description, can be treated decoratively -->
	<div class='sp'>{img && <img src={img} alt="" />}</div>
	<div class='desc'><slot /></div>
</a>
