---
import Banner from "@/assets/banner.svg";
import Cols from "@/components/Cols.astro";
import Youtube from "@/components/Youtube.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<h1>Toki Pona: the language with only 120 words.</h1>
<DarkModeToggle />

<Banner />

<h2>Learn via videos!</h2>

<Cols>
	<blockquote>
		What is Toki Pona?<br /><b>A quick overview:</b>
	</blockquote>
	<Youtube id='U3GQePblz4M' />
</Cols>

<details>
	<summary>Q - What is Toki Pona?</summary>
	<p>
		A - Toki Pona is a constructed language. That means that someone decided
		what words and grammar to put in it, unlike natural languages, such as
		English or Urdu. Toki Pona has one main gimmick: it only has 120 words.
		Beyond that, Toki Pona is not very different from any other language in
		capability.
	</p>
	<p>
		The number of speakers of Toki Pona is in the thousands. Toki Pona speakers
		are proud to be part of a community that emphasizes art and expression of
		identity. Toki Pona is a living language, and it's evolving through daily
		usage.
	</p>
</details>

<Cols>
	<blockquote style='grid-area: 1/2'>
		<b>How can one communicate</b><br />when limited to such a small set of
		words?<br />Find out now!
	</blockquote>
	<Youtube id='7rVWvwWLUBg' />
</Cols>

<details>
	<summary>Q - How does Toki Pona work with only 120 words?</summary>
	<p>
		A - Toki Pona is highly context-dependent. This means that Toki Pona employs
		many of the same methods of communication that other languages do, it just
		doesn't allow for disambiguation via the usage of a more specific word. All
		other methods still work.
	</p>
	<p>
		Speakers must pay more attention to surrounding events, prior knowledge, and
		presupposition (which is information implied by a sentence), in places where
		speakers of other languages would use or request a more specific word.
		Speakers may also clarify using an additional sentence.
	</p>
</details>

<Cols>
	<blockquote>
		<b>Start learning now!</b><br />This video contains<br />ALL the grammatical
		rules.
	</blockquote>
	<Youtube id='5phj5Ae80h8' />
</Cols>
<!--
<Cols>
	<blockquote style='grid-area: 1/2'>
		<b>What does Toki Pona sound like?</b><br />Take a listen!
	</blockquote>
	<Video
		src='https://upload.wikimedia.org/wikipedia/commons/5/5d/WIKITONGUES-_jan_Tepo_and_jan_Lakuse_speaking_Toki_Pona.webm'
		captions='/wikitongues.ass'
	/>
</Cols> -->
