---
import Bluesky from "@/components/Bluesky.astro";
import Card from "@/components/Card.astro";
---

<h2>What's new?</h2>
<Bluesky did='did:plc:qocllhtb6pc774sz3m2lo4zb' />
<h2>Start learning!</h2>
<Card url='https://wasona.com' img='https://wasona.com/favicon.png'>
	Wasona, a <b>complete course</b> available in 14 languages
</Card>
<Card url='https://linku.la' img='https://linku.la/favicon.png'>
	Linku, our <b>community dictionary</b> for Toki Pona words
</Card>
<Card
	url='https://sona.pona.la'
	img='https://static.wikitide.net/sonaponawiki/e/ec/sona_pona_%28provisional%29.png'
>
	<abbr title="'good knowledge'">sona pona</abbr>, a <b>
		reliable encyclopedia
	</b> for Toki Pona and its history
</Card>
<a href='https://sona.pona.la/Recommended%20learning%20resources'
	>Other resources</a
>

<h2>Find other speakers!</h2>
<Card
	url='https://discord.gg/ChC6qtVsSE'
	img='https://cdn.discordapp.com/icons/969386329513295872/ddf6dc645bd8916fb8f23cef7af12dc2.png'
	><abbr title="'to begin to know'">kama sona</abbr> is the best place
	<b>for learning:</b> questions answered in real time by teachers!</Card
>
<Card
	url='https://discord.gg/mapona'
	img='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Ma_pona_pi_toki_pona_-_icon_%282024%29.png/500px-Ma_pona_pi_toki_pona_-_icon_%282024%29.png'
	><abbr title="'good toki pona place'">ma pona pi toki pona</abbr>, the
	<b>largest</b> Toki Pona community</Card
>
<Card
	url='https://discord.gg/kBdKdT4Zuq'
	img='https://cdn.discordapp.com/icons/1208593165213245510/c45b75b6041ae077b1a68fb6b467ca42.png'
	><abbr title="'place of moon'">ma mun</abbr>, a cozy place to speak <b>only</b
	>
	Toki Pona</Card
>
<Card
	url='https://ma.pona.la/'
	img='https://cdn.discordapp.com/attachments/1190488533522206801/1373378520130261172/sona-ma-pin-blue.png?ex=69ec6a2b&is=69eb18ab&hm=7758ae862c8e27f2529691e3db4564ec4b1e5c53573b655fc1e22a53be54fbda&'
	>Find local Toki Pona <b>speakers near you</b> on a <abbr
		title="'document of land'">lipu ma</abbr
	>!</Card
>
<a href='https://sona.pona.la/Communities'>Other communities</a>

<h2>Literature</h2>
<ul>
	<li>
		<a href='https://liputenpo.org'>lipu tenpo</a>: Toki Pona magazine.
		Educational, prose, poems, and other fun stuff!
	</li>
	<li>
		<a href='https://utala.pona.la'>utala musi</a>: yearly contest of Toki Pona
		literature. Read poems and longer original works!
	</li>
	<li>
		<a href='https://lipu.pona.la'>Library</a> collecting all creative texts
	</li>
</ul>

<h2>Videos & music</h2>
<ul>
	<li>
		<a
			href='https://www.youtube.com/playlist?list=PLoLQoll2U6WGtrg_4CURI3R4rp6ArHdsX'
			>Stories and Presentations</a
		>
	</li>
	<li>
		<a
			href='https://www.youtube.com/playlist?list=PLoLQoll2U6WF9RosKElwHUhAcx4TbCLv'
			>Blogs and Conversations</a
		>
	</li>
	<li>
		<a
			href='https://www.youtube.com/playlist?list=PLoLQoll2U6WF9RosKElwHUhAcx4TbCLv'
			>Podcasts and News</a
		>
	</li>
	<li>
		<a
			href='https://www.youtube.com/playlist?list=PLoLQoll2U6WE0LvFTjXUsRtYlS2GIoNVI'
			>Gaming</a
		>
	</li>
	<li>
		<a
			href='https://www.youtube.com/playlist?list=PLc7R2x5fn6AqRFUR9JzGIqh0FMdtsXRnH'
			>Music</a
		>
	</li>
</ul>

<h2>Tools</h2>
<ul>
	<li>
		<a href='https://nasin.nimi.li/'>nasin nimi</a>: explore sentence structure
		with a syntax tree parser
	</li>
	<li>
		<a href='https://telo-misikeke.gitlab.io/'>telo misikeke</a>: check your
		grammar
	</li>
	<li>
		<a href='https://linku.la/tools/'>Linku tools</a>: play with numbers,
		convert writing
	</li>
</ul>
