---
interface Props {
	src: string;
	captions: string;
}
const { src, captions } = Astro.props;
---

<style>
	.container {
		box-sizing: border-box;
		position: relative;
		width: 100%;
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 1280px;
		margin: 0 auto;
		border: 3px solid var(--card-border);
		border-radius: 10px;
	}

	.container video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
</style>

<div class='container'>
	<video preload='metadata' src={src}>
		<track default kind='captions' src={captions} />
		Your browser does not support the video tag.
	</video>
</div>
