---
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<link rel='stylesheet' href='/src/styles/index.css' />
		<title>Toki Pona (Community Edition)</title>
	</head>
	<body>
		<Nav />
		<slot />
	</body>
</html>
