---
import "@/styles/common.css";

import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";

interface Props {
	title: string;
	description: string;
	draft?: boolean;
}
const { title, description } = Astro.props;

import { markDraft } from "@/utils/draft.ts";
if (Astro.props.draft) {
	markDraft(Astro.response);
}
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<a href="#main" class="skip-link">Skip to content</a>
		<Navbar />
		<main id="main">
			<slot />
		</main>
		<footer>
			Made for the Toki Pona community by many helping hands.<br />
			Have a question? Want to contribute? Contact us at
			<a href="mailto:kulupu@tokipona.net">kulupu@tokipona.net</a>.<br />
			Or jump into the code on <a href="https://github.com/pona-la/tokipona.net"
				>GitHub</a
			>.
		</footer>
	</body>
</html>
