---
import "@/styles/common.css";

import BaseHead from '@/components/BaseHead.astro';
import Navbar from "@/components/Navbar.astro";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<html lang='en'>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<footer>
			Made by and for the Toki Pona community.<br />
			Contact us at <a href='mailto:kulupu@tokipona.net'>kulupu@tokipona.net</a
			>.<br />
			Source code is available on <a
				href='https://github.com/pona-la/tokipona.net'>GitHub</a
			>.
		</footer>
	</body>
</html>
