---
import BaseHead from "@/components/BaseHead.astro";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<html lang='en'>
	<head>
		<BaseHead title={title} description={description} />
		<link
			href='https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap'
			rel='stylesheet'
		/>
		<!-- <link
			href='https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap'
			rel='stylesheet'
		/> -->
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	body {
		font-family: "Source Serif 4", serif;
		/*font-family: "Georgia", serif;*/
		/*font-family: "Atkinson Hyperlegible", sans-serif;*/
		margin: 1rem;
		line-height: 1.5;
		font-size: 18px;
	}

	main {
		margin: auto;
		max-width: 730px;
	}
	p {
		text-align: justify;
	}
	.subtitle {
		/*color: gray;*/
		font-size: 22px;
		text-align: center;
	}
	h1 {
		text-align: center;
		font-weight: normal;
		padding: 30px;
	}
	h2,
	h2 strong {
		font-weight: 600;
	}
	h2 {
		font-size: 24px;
	}
	a,
	a:visited {
		color: #00c;
		text-underline-offset: 2px;
	}
</style>
