---
import FAQChild from "@/layouts/FAQChild.astro";
import { getCollection, getEntry, render } from "astro:content";
const kasi = await getCollection("faqEntries", ({ data }) => {
	return data.published == true && data.faq_group == 3;
});
---

<style>
	.intro {
		background-color: rgb(22, 33, 22);
		color: lightcyan;
		border-radius: var(--rounding-small);
		padding: 1em;
		grid-column: 1 / 3;

		a {
			color: inherit;
		}
	}

	.garden {
		width: 100%;
		max-width: 50em;
		margin: 0 auto;
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		top: 0.4em;

		img {
			max-width: 100%;
			user-drag: none;
			user-select: none;
		}
	}
</style>

<FAQChild
	faq_title={"Deeper Insights"}
	title={"The Basics | Toki Pona"}
	description={"This is a test page."}
	draft
	array={kasi}
>
	<div class="garden">
		{
			kasi.map((item) => (
				<div>
					<img src={`/sitelen/kasi/${item.data.image}`} />
				</div>
			))
		}
	</div>

	<div class="faq">
		<div class="intro">
			<p>Curious about what Toki Pona is? This page covers the basics.</p><p>
				We've recruited some <a href="https://nimi.li/kasi">kasi</a> to provide brief
				summaries along the way. They will speak up if you give them a click.
			</p>

			<p>
				<em
					>Not new around here? Our FAQ has two more sections: <a href=""
						>Using Toki Pona</a
					> and <a href="">Deeper Insights</a>.
				</em>
			</p>
		</div>
	</div>
</FAQChild>
